/links
/code-samples
/from_video/application.linux32
/from_video/application.linux64
/from_video/application.linux32.zip
/from_video/sample-cafe.mp4

/docs
/video-samples
/from_video/data/sample-cafe_x264.mov
